html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Epilogue', sans-serif;
    background-color: #FDF0E9;
    color: #fff;
}

img {
    max-width: 100%;
    height: auto;
}

h1 {
    font-size: 72px;
    font-weight: 800;
    line-height: 80px;
    color: #391400;
}

h2 {
    font-size: 56px;
    font-weight: 800;
    line-height: 64px;
    margin-bottom: 2.5rem;
    color: #391400;
}

h3 {
    font-size: 40px;
    font-weight: 800;
    line-height: 48px;
    margin-bottom: 2.5rem;
    color: #391400;
}

h4 {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    color: #391400;
}

h5 {
    color: #f26b4f;
    font-size: 14px;
    letter-spacing: 2px;
    margin-bottom: 16px;
}

p {
    color: #391400A3;
    font-size: 16px;
    margin-bottom: 32px;
    max-width: 40rem;
    line-height: 32px;
    margin-top: 1rem;

}

.navbar {
    background-color: #232336;
    ;

}

.navbar-dark .navbar-nav .nav-link {
    color: #ffffff;
    font-weight: 500;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    align-items: center;
}

.contact-btn {
    Width: 138px;
    Height: 48px;
    border: 2px solid #ffffff55;
    color: white;
    font-size: 14px;
    font-weight: 900;
    border-radius: 8px;
    padding: 10px 20px;
}

.hero {
    padding: 80px 64px;
    position: relative;
    background-color: #232336;
    ;
}

.hero-bg-star {
    position: absolute;
    top: 105px;
    left: 450px;
    width: 120px;
    z-index: 1;
}

.hero h1 {
    margin-bottom: 24px;
    position: relative;
    color: #FFFFFF;
    z-index: 2;
}

.btn-primary-custom {
    background-color: #f26b4f;
    border: none;
    width: 154px;
    height: 48px;
    font-weight: 900;
    color: #fff;
    font-size: 14px;
}

.btn-link {
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    font-weight: 400;
    line-height: 32px;
}

.nav-center {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.nav-center .navbar-nav {
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.review {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-top: 100px;
}

.review p {
    margin-bottom: 0;
}

.review .text {
    padding-left: 20px;
}

.review span {
    font-size: 16px;
    font-weight: 400;
}

.logos,
.about {
    background-color: #FDF0E9;
}

.logos .logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 6rem 0;
}

hr {
    border: 1px solid #F3D1BF;
}

.about .textbig {
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    color: #391400;
}

.about {
    margin-top: 10rem;
}

.about .row {
    --bs-gutter-x: 7.5rem;
}

.about p {
    color: #391400A3;
    max-width: 42rem;
}

.about .row .btn {
    color: #391400;
    background-color: #fff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.about .cards {
    --bs-gutter-x: 0rem;
    margin-top: 10rem;
}

.row .card {
    background: transparent;
    border-radius: 0;
    padding: 3rem;
    border-color: #F3D1BF;
}

.works {
    margin-top: 10rem;
}

.works .row {
    margin-bottom: 10rem;
}

.works h3 {
    max-width: 50rem;
}

.works .first {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.works .text {
    font-size: 16px;
    color: #391400;
    font-weight: 400;
}

.video {
    margin-top: 10rem;
    margin-bottom: 8rem;
}

.portfolio {
    background-color: #232336;
    padding: 9rem 0;
}

.category-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.category-menu {
    display: flex;
    justify-content: center;
    gap: 7rem;
    padding: 1rem 0;
    flex-wrap: wrap;
    margin: 0rem 0 4rem 0;
}

.category-item {
    color: #c0c0cc;
    font-size: 16px;
    position: relative;
    cursor: pointer;
    transition: color 0.3s ease;
}

.category-item.active {
    color: white;
}

.category-item::after {
    content: attr(data-count);
    position: absolute;
    top: -1.4rem;
    right: -1rem;
    font-size: 14px;
    color: #c0c0cc;
}

.portfolio-item {
    position: relative;
    border-radius: 12px;
    overflow: hidden;
}

.portfolio-item img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s ease;
}

.portfolio-item:hover img {
    transform: scale(1.02);
}

.portfolio-label {
    position: absolute;
    bottom: 100px;
    left: 30px;
    background-color: #fff;
    color: #391400;
    padding: 4px 12px;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 400;
}

.portfolio-caption {
    position: absolute;
    bottom: 0px;
    left: 30px;
    color: #ffffff;
}

.explore-btn {
    background-color: transparent;
    border: 1px solid #dcd2d259;
    color: #fff;
    padding: 10px 28px;
    font-size: 14px;
    border-radius: 1rem;
    font-weight: 900;
    margin-top: 8rem;
    transition: all 0.3s ease;
}


.category-dropdown {
    display: none;
    background-color: white;
    color: #7a6b6b;
    margin-bottom: 3rem;
    padding: 0.8rem 1rem;
    border-radius: 8px;
    font-size: 1rem;
    appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg fill='%23e26e5d' height='12' viewBox='0 0 24 24' width='12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 10l5 5 5-5z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 0.8rem center;
    background-size: 12px;
    border: none;
    width: 100%;
    max-width: 300px;
}

.hero-wrapper {
    display: flex;
    margin-top: 15rem;
    justify-content: center;
}

.hero-section {
    position: relative;
    background-color: #fff3ef;
    border-radius: 12px;
    padding: 2rem 8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.hero-left {
    text-align: start;
    max-width: 25rem;
}


.hero-title {
    font-size: 1.7rem;
    font-weight: bold;
    color: #1e1e1e;
    margin-bottom: 1.5rem;
}

.cta-button {
    background-color: #e26e5d;
    color: white;
    border: none;
    padding: 0.7rem 1.4rem;
    font-weight: bold;
    font-size: 0.9rem;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.3s ease;
}


.hero-person {
    position: absolute;
    bottom: 0;
    right: -30px;
    z-index: 2;
    padding-right: 10rem;
}

.hero-person img {
    display: block;
}



.team-section {
    padding: 4rem 1rem;
}

.section-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.section-header h2 {
    color: #ffffff;
}

.carousel-control {
    display: flex;
    gap: 0.75rem;
}

.arrow-btn {
    background: none;
    border: 1px solid #ffffff33;
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 1.2rem;
    transition: background 0.3s;
}

.team-card {
    border: 1px solid #3A3C56;
    border-radius: 12px;
    padding: 1.5rem 1.5rem 0 1.5rem;
    text-align: center;
}

.team-card img {
    width: 100%;
    height: 290px;
}

.team-info {
    color: #fff;
}

.team-name {
    color: white;
    margin-bottom: 0;
    margin-top: 2rem;
}

.team-role {
    color: #aaa;
    margin-top: 0;
}

.smallscreen {
    display: none;
}

.carousel-indicators {
    justify-content: center;
    margin-top: 1.5rem;
    position: relative;
    bottom: 0;
}

.carousel-indicators [data-bs-target] {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #5c5c7a;
    opacity: 1;
    margin: 0 6px;
    transition: background-color 0.3s ease;
    border: none;
}

.carousel-indicators .active {
    background-color: #ff6d5a;
    /* matching the red/orange dot */
}


.pricing-section {
    padding: 80px 0;
    text-align: start;
}

.pricing-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 60px;
}

.pricing-card {
    flex: 1 1 33.3333%;
    background: #fff3ed;
    border: 1px solid #f3d9ce;
    padding: 60px;
    border-radius: 0;
    position: relative;
}

.pricing-card.highlight {
    background: #ffffff;
    box-shadow: 0 20px 45px rgba(0, 0, 0, 0.1);
    margin-top: -30px;
    z-index: 2;
}

.badge-popular {
    background: #f35c3d;
    color: white;
    padding: 6px 14px;
    font-size: 12px;
    border-radius: 20px;
    font-weight: 500;
    position: absolute;
    top: 25px;
    left: 60px;
}

.pricing-card.highlight h5 {
    margin-top: 2rem;
}

.plan-type {
    font-size: 13px;
    letter-spacing: 2px;
    color: #f35c3d;
    font-weight: 500;
    margin-bottom: 15px;
}


.desc {
    font-size: 16px;
    color: #391400A3;
    margin-bottom: 35px;
}

.text {
    font-size: 16px;
    color: #391400;
}

.feature-list {
    list-style: none;
    padding-left: 0;
    margin-bottom: 25px;
}

.feature-list li {
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-bottom: 2rem;
}

.feature-list li img {
    margin-right: 1.5rem;
}

.btn-contact {
    border: none;
    font-size: 13px;
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 6px;
}

.btn-orange {
    background-color: #f35c3d;
    color: white;
}


.btn-white {
    background-color: white;
    color: #391400;
}


.faq-section {
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.faq-left h6 {
    font-size: 12px;
    color: #e1745f;
    letter-spacing: 1.5px;
}

.faq-left h2 {
    font-weight: bold;
    font-size: 30px;
    color: #351e16;
}

.accordion-item {
    border-color: #F3D1BF;
    border-radius: 0;
    border-bottom: 1px solid #F3D1BF;
    background-color: #fef1eb;
}

.accordion-button {
    background-color: #fef1eb;
    color: #391400;
    font-weight: 700;
    font-size: 24px;
    padding: 1rem 3rem 1rem 3rem;
    position: relative;
    box-shadow: none !important;
}

.accordion-button:not(.collapsed) {
    background-color: white;
    color: #391400;
    padding: 1rem 3rem 0 3rem;
}

.accordion-button::after {
    display: none !important;
}

.faq-toggle-btn {
    position: absolute;
    right: 2.5rem;
    top: 50%;
    transform: translateY(-50%);
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #ec6a5e;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    transition: transform 0.3s ease;
}

.faq-toggle-btn svg {
    width: 12px;
    height: 12px;
    fill: white;
    transition: transform 0.3s ease;
}

.accordion-button[aria-expanded="true"] .faq-toggle-btn svg {
    transform: rotate(180deg);
}

.accordion-body {
    background-color: #fff;
    border-radius: 0 0 8px 8px;
    font-size: 16px;
    color: #391400A3;
    padding: 2rem 3rem;
}

.map-container {
    position: relative;
    background: url('/assets/map.png') no-repeat center center;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.contact-form {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: #fff;
    padding: 5rem;
    border-radius: 6px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    width: 100%;
    max-width: 470px;
    z-index: 10;
}


.form-control,
.form-select {
    border-radius: 6px;
    font-size: 16px;
    color: #391400A3;
    padding: 1rem 1.75rem;
    border-color: #F3D1BF;
}

.map-pin {
    position: absolute;
    top: 50%;
    left: 72%;
    transform: translate(-50%, -50%);
    z-index: 5;
}

.footer {
    padding-top: 9rem;
}

.footer a {
    text-decoration: none;
    display: block;
    margin-bottom: 8px;
}

.footer a:hover {
    text-decoration: underline;
}

.footer .social-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    background-color: #ec6d5a;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 37px;
    margin-left: 10px;
    font-size: 14px;
}

.footer-bottom {
    display: flex;
    padding: 2rem 0;
    justify-content: space-between;
}

.footer-bottom a {
    padding-left: 2rem;
}




